#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.workTitle {
    margin: 1rem 0;
    font-size: 3rem;
}

.workDesc {
    margin: 1rem;
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
}

.worksImgs {
    margin-top: 2rem;
    width: 100%;
}

.workImg {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

/* React Slick arrow customizations */
.slick-prev,
.slick-next {
    z-index: 1;
    color: black;
    font-size: 2rem;
}

.slick-prev:hover,
.slick-next:hover {
    color: gray;
}

/* React Slick dot customizations */
.slick-dots li button:before {
    font-size: 1rem;
    color: black;
}

.slick-dots li.slick-active button:before {
    color: gray;
}

.workBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background: white;
    font-size: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 585px) {
    .workImg {
        height: auto;
    }
}
