#education{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    /* color: black; */
}

.educationTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}
.educationDesc{
    font-weight: 400;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 2rem;

}

.educationBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    color: black;

}

.educationBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    /* background: rgb(50,50,50); */
    background: white;
}

.educationBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}
.educationBarText > p {
    margin: 0.2rem;
    font-size: 0.9rem;
    font-weight: 200;   
}

@media screen and (max-width:720px) {
    .educationBarText>p {
        font-size: 2vw;
    }
    
}

@media screen and (max-width:480px) {
    .educationBarText>p {
        font-size: 3vw;
    }
    .educationBarImg{
        height: 2.25rem;
        width: 2.25rem;
    }
    .educationBarText>h2{
        font-size: 5vw;
    }
}