.footer{
    width: 100vw;
    height: 4rem;
    background: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}
